<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.cerkiner.esogu-ieee"
	version 	= "1.0.0">

	<name>ESOGÜ IEEE</name>

	<description>
		ESOGÜ IEEE Mobil Uygulamasý
	</description>

	<author href="celilsemi.erkiner.com"
		email="celilsemi@erkiner.com">
		Celilsemi Erkiner
	</author>

</widget>