<?xml version='1.0' encoding='utf-8'?>
<widget id="esogu-ieee" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ESOGÜ IEEE</name>
    <description>
        ESOGÜ IEEE Mobil Uygulaması
    </description>
    <author email="celilsemi@erkiner.com" href="http://celilsemi.erkiner.com">
        cerkiner
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
	<preference name="phonegap-version" value="2.9.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <content src="index.html" />
    </widget>